<!-- Footer -->
<footer class="text-center text-lg-start bg-warning-subtle text-muted">
  <div class="text-center p-4">
    2025 All Rights Reserved
    <a class="text-reset fw-bold" href="">AAA Networking</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
</body>
</html>