<% layout('layouts/boilerplate') %>
        <div class="container title">
            <h1 class="display-1">AAA Network Solutions</h1>
        </div>

        <div class="container-md">
            <h2 class="display-5">About AAA Network Solutions</h2>
            <p class="lead">Founded by fellow computing students Anas, Azan and Alberto, AAA Network Solutions offers state-of-the art network products and installation for small to medium businesses. 
        </p>
        

        </div>
       

      