<% layout('layouts/boilerplate') %>
        <div class="container title">
            <div class="alert alert-danger">  
                <h2 class="display-3">Error</h2>
            </div>
            <div class="alert alert-warning">  
                <h3 class="display-4"><%=statusCode  %></h3>
                <h4><i><%=err.message  %></i></h4>
            </div>
         
        </div>

        

    
            