<% layout('layouts/boilerplate') %>

    <div class="container title">
        <h1 class="display-1">AAA Network Solutions</h1>
        <h2 class="display-3">
            <%= 'welcome' .toUpperCase(); %>
        </h2>
    </div>


    <div class="text-center display-5">

        <p>An innovative idea for a network infrastructure e-shop</p>

    </div>
    <div class="p-5 rounded-3 shadow-lg glass">
        <p class="">
            This platform provides a real-time interactive environment for business owners and engineers to design
            complex network topologies while maintaining an automated, live sync with hardware inventory.
        </p>
        <p class="">
            Please register or sign in and access our innovative design page where you will be able to design your own
            network
        </p>
        <p class="">
            You will have at your service our AI advisor and you also will be able to contact via the chat box a member
            of
            our staff
            who will be able to assist you finding the best solution for your network.
        </p>
        <p class="">
            Once submitted for approval, our staff will be able to send you in real time a quote for the installation of
            the
            framework.
            The cost breakdown will be immediately shown on your cart.
        </p>
        <p class="">
            You can also choose to select items from our range of networking products and add them to your shopping
            cart.
        </p>
    </div>